
<%- include('../partials/header.ejs'); %> 
<div class="row mx-auto d-flex flex-column py-4 formsContainer">
    <div class="col-11 col-md-6 mx-auto rounded p-4 border" style="background-color: white;">
        <h1 class="fs-3 text-center fw-bold">Informacion de la cuenta</h1>
        <div class="container border border-2 rounded py-3 px-3 px-md-5">
            <div class="d-flex mb-3">
                <img class="col-3 col-md-2 mx-auto" src="/icons/profileHeader.svg" alt="">
            </div>
            <p class="mb-1 fw-bold">Nombre completo:</p>
            <p class="text-center mx-auto mb-2 fw-light"><%= session.Nombre %> <%= session.Apellido %></p>
            <p class="mb-1 fw-bold">Empresa:</p>
            <p class="text-center mx-auto mb-2 fw-light"><%= session.Empresa %> </p>
            <p class="mb-1 fw-bold">Email:</p>
            <p class="text-center mx-auto mb-2 fw-light"><%= session.Email %> </p> 
            <p class="mb-1 fw-bold">Tipo de usuario:</p>
            <% if (session.Rol == 1) { %> 
                <p class="text-center mx-auto mb-1 fw-light">Cliente</p> 
            <% } else if (session.Rol == 2) { %> 
                <p class="text-center mx-auto mb-1 fw-light">Administrador</p>
            <% } %> 
            <div class="d-flex flex-wrap mt-3">
                <a type="button" class="btn btn-secondary text-center mx-auto my-2" style="font-size: 15px;" href="#" data-bs-toggle="modal" data-bs-target="#infoModal">Actualizar informacion</a>
                <a type="button" class="btn btn-secondary text-center mx-auto my-2" style="font-size: 15px;" href="#" data-bs-toggle="modal" data-bs-target="#passwordModal">Cambiar contrasena</a>
            </div>
        </div>
    </div>
</div>    

<!-- Info Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Actualizar informacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="needs-validation col-11 mx-auto" action="/apiClient/updateInfo" method="post" id="form2">
                <input type="hidden" id="id" name="id" value="<%= session.Id %> ">                  
                <div class="form-floating mb-1">
                    <input 
                    type="text" 
                    name="newName" 
                    id="newName" 
                    class="form-control" 
                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" 
                    autocomplete="off"
                    onkeyup=validateInput(newName)
                    placeholder="Ej: ejemplo ejemplo"
                    >
                    <label for="email">Nombres</label>
                </div>
                <div class="form-floating mb-1">
                    <input type="text" 
                    name="lastname" 
                    id="lastname" 
                    class="form-control" 
                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,48}" 
                    autocomplete="off"
                    autocomplete="ÑÖcompletes"
                    onkeyup=validateInput(lastname)
                    placeholder="Ej: ejemplo ejemplo"
                    >
                    <label for="lastname">Apellidos</label>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <input id="updateButton" type="submit" value="Actualizar" class="btn btn-primary">                
                </div> 
            </form>
        </div>
      </div>
    </div>
</div>

<!-- Password Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordModalLabel">Actualizar contrasena</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/apiClient/updateInfo" method="post">
                <input type="hidden" id="id" name="id" value="<%= session.Id %> ">                  
                <div class="form-floating mb-3">
                    <input 
                    type="password" 
                    name="oldPassword" 
                    id="oldPassword" 
                    class="form-control" 
                    pattern="[A-Za-z0-9!?-]{8,12}"
                    autocomplete="off"
                    placeholder="password"
                    onkeyup=validateInput(oldPassword)
                    required>
                    <label for="password">Contrasena actual</label>
                    <div class="invalid-tooltip">La contrasena debe contener entre 8-20 caracteres.</div>
                </div>
                <div class="form-floating mb-3">
                    <input 
                    type="password" 
                    name="newPassword" 
                    id="newPassword" 
                    class="form-control" 
                    pattern="[A-Za-z0-9!?-]{8,12}"
                    autocomplete="off"
                    placeholder="password"
                    onkeyup=validateInput(newPassword)
                    required>
                    <label for="pass2">Nueva contrasena</label>
                    <div class="invalid-tooltip">La contrasena debe contener entre 8-20 caracteres.</div>
                </div>
                <div class="form-floating mb-3">
                    <input 
                    type="password" 
                    name="newPassword2" 
                    id="newPassword2" 
                    class="form-control" 
                    pattern="[A-Za-z0-9!?-]{8,12}"
                    autocomplete="off"
                    placeholder="password"
                    onkeyup=validateInput(newPassword2)
                    required>
                    <label for="pass2">Confirmar contrasena</label> 
                    <div class="invalid-tooltip">La contrasena debe contener entre 8-20 caracteres.</div>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <input id="updateButton" type="submit" value="Actualizar contrasena" class="btn btn-primary">                
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
<% if(typeof info!='undefined') { %>
    <div class="modal fade" id="info2Modal" tabindex="-1" aria-labelledby="info2ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="info2ModalLabel">Lo sentimos...</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <% if (info == 0) { %>
              <p>La contrasena actual es incorrecta.</p>
            <% } else if (info == 1) { %>
              <p>Las contrasenas no coinciden.</p>
            <% } %>  

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Entendido</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const myModal = new bootstrap.Modal(document.getElementById("info2Modal"), {});
      document.onreadystatechange = function () {
        myModal.show();
    };
    </script>
<% } %> 

<%- include('../partials/footer.ejs'); %> 